repo/.phpunit.cache
repo/node_modules
repo/public/build
repo/public/hot
repo/public/storage
repo/storage/*.key
repo/storage/pail
repo/vendor
repo/.env
repo/.env.backup
repo/.env.production
repo/.phpactor.json
repo/.phpunit.result.cache
repo/Homestead.json
repo/Homestead.yaml
repo/auth.json
repo/npm-debug.log
repo/yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
